<ion-content>
  <ion-slides (ionSlideDidChange)="goToHomePage()">
    <ion-slide>
      <ion-card class="card">
        <ion-card-header class="cardHeader">
          <img src="assets/ImagesSlider/Slider1.jpg" class="SLiderImage">
        </ion-card-header>
        <ion-card-content class="cardcontent">
          <ion-card-title>fruits and vegetables</ion-card-title>
          A market place is a very busy place where people go to buy articles of their needs.
          It is a centre of attraction for both buyers and sellers.
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="card">
        <ion-card-header class="cardHeader">
          <img src="assets/ImagesSlider/Slider2.jpg" class="SLiderImage">
        </ion-card-header>
        <ion-card-content class="cardcontent">
          <ion-card-title> fruits and vegetables</ion-card-title>
          When it comes to writing a menu, word choice is very important. The words you use to
          describe food on your menu could entice customers and increase sales if you choose them well
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="card">
        <ion-card-header class="cardHeader">
          <img src="assets/ImagesSlider/Slider3.jpg" class="SLiderImage">
        </ion-card-header>
        <ion-card-content class="cardcontent">
          <ion-card-title>fruits and vegetables</ion-card-title>
          A trip to the grocery store can be a chore for anyone, but as you get older,
          you might have some new reasons for not going
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>